* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--c2);
}

ul,
li {
  list-style: none;
}

:root {
  --c1: #ffffff;
  --c2: #f6f8fc;
  --c3: #a2adc9;
  --c4: #272f47;
  --c5: #5f90ff;
  --c6: #1d66ff;
}

.HTMLContainer {
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  background: none;
}
::-webkit-scrollbar-button {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #b8b9bb;
  border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
