.GroupContainer {
  width: 100%;
}

.GroupContainer ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

li {
  list-style: none;
}

.Group {
  width: 80%;
  border-radius: 5px;
  color: gray;
  padding: 20px 0;
  margin: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.26);
}

.Group button.animate {
  color: #00a2ff;
  background: none;
  border: none;
  outline: none;
  font-size: 23px;
  animation: vibrate 1s infinite;
  transition: all;
  width: 60%;
  cursor: pointer;
}

.ProductsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

@keyframes vibrate {
  0%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(3px);
  }
}
